body{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs{
    display: flex;
    gap: 10px;
}
footer {
    color: #f5f6f7;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.fa-github {
    color: #f5f6f7;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}
.footer-text{
    margin-bottom: 0px;
}